.background {
  background-image: url('/main/Picture-min.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  padding-top: 440px;
  padding-bottom: 60px;
}



.home_title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);

  margin-bottom: 16px;
}

.home_description {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  text-align: center;
  color: var(--white);

  margin-bottom: 32px;

  
}

.home_button {
  border-radius: 12px;
  border: none;
  padding: 12px 99px;
  background-color: var(--button);
  display: block;
  margin: 0 auto;
  width: fit-content;


  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: var(--white);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.home_button:hover {
  background-color: var(--button-hover);
}
